<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader books</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>
<body>

<h1> Reader <span th:text="${readerName}">!</span> List of books</h1><br>
<!--<h1> Reader List of books</h1><br>-->

<ul>
    <li th:each="book : ${books}" th:text="${book.getTitle()}"></li>
</ul>

</body>
</html>